body {
    background: #e1e1e1;
}

h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #7453fc;
    padding-bottom: 10px;
}

.accordion-button {
    background: #FCCBCB;
}

.accordion-body {
    background: #fff;
}